#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    font-family: 'Tahoma', sans-serif;

    .view-switch button {
        background-color: #f1f1f1;
        border: none;
        padding: 10px;
        margin: 0 5px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .view-switch button.active {
        background-color: #ddd;
    }
}

#calculator, #results {
    flex: 1;
    max-width: calc(50% - 10px);
    box-sizing: border-box;
}

#calculator {
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    max-inline-size: 22rem;
    overflow: hidden;
    color: hsl(202, 11%, 29%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    
    .tabcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    button {
        cursor: pointer;
    }
}

#fields {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        margin-top: 10px;
        font-weight: bold;
    }
}

#unitType {
    background: hsl(255, 100%, 100%);
}

#result {
    background: hsl(255, 100%, 100%);
    font-size: 4.2rem;
    padding-block-start: 0.2rem;
    padding-block-end: 0.2rem;
    padding-inline-end: 0.5rem;
    text-align: end;
}

#calculatorButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background: hsl(255, 100%, 100%);
    padding: 1rem;

    .calculatorButton {
        background: hsl(210, 25%, 95%);
        border: none;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
        padding-inline-end: 1.25rem;
        padding-inline-start: 1.25rem;
        font-size: 1rem;
        inline-size: 70px;
        block-size: 70px;
        margin: 0.25rem;
        border-radius: 40px;
    
        &:active, &:focus {
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
            outline: none;
        }
    }

    .operator {
        background: hsl(208, 25%, 86%);
    
        &:active {
            background: hsl(208, 24%, 80%);
        }
    }
    
    .calculate {
        grid-column: 4 / 5;
        grid-row: 2 / span 4;
        background: hsl(357, 100%, 72%);
        height: auto;
    }
}

#results {
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
}

#registerItem {
    background-color: #4CAF50 !important;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 40px;

    &:active, &:focus {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
        outline: none;
    }

    &:hover {
        background-color: #45a049;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.calculatorButton, .operator, .calculate {
    transition: background-color 0.3s ease;
}

.calculatorButton:hover, .operator:hover, .calculate:hover {
    filter: brightness(90%);
}

.operator, .calculate {
    font-weight: bold;
}

.calculate {
    color: white;
    font-size: 1.2rem;
}

#exports {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 100%;
    transition: background-color 0.3s ease;
}

#exports button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 10px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #45a049;
    }

    &:active, &:focus {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
        outline: none;
    }
}

#exports input[type="file"] {
    align-self: start;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    background: hsl(210, 25%, 95%);

}

#print {
    background: hsl(357, 100%, 72%) !important;
    transition: background-color 0.3s ease;
    height: 100%;

    &:hover {
        filter: brightness(90%);
    }
}

@media (max-width: 1024px) {
    #calculator {
        max-inline-size: 90%;
        margin-block-start: 1em;
        max-width: 100%;
    }

    #calculatorButtons {
        grid-template-columns: repeat(4, 1fr);
        padding: 0.5rem;
    }

    .calculatorButton, .operator, .calculate {
        padding-block-start: 0.75rem;
        padding-block-end: 0.75rem;
        font-size: 1.2rem;
    }

    #results {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #page {
        flex-direction: column;
        height: auto;
    }

    #results {
        margin-top: 20px;
    }
    #page {
        flex-direction: column;
        align-items: stretch;
    }

    #calculator {
        max-inline-size: 100%;
        margin-block-start: 1em;
    }

    #calculatorButtons {
        grid-template-columns: repeat(3, 1fr);
    }

    .calculate {
        grid-column: 3 / 4;
        grid-row: 5 / span 1;
    }
}

@media (max-width: 480px) {
    #calculatorButtons {
        grid-gap: 0.5px;
        padding: 0.25rem;
    }

    .calculatorButton, .operator, .calculate {
        padding: 0.5rem;
        font-size: 1rem;
    }

    label, input[type="text"], select {
        font-size: 0.9rem;
    }
}